@import './reset.css';
:root {
  --white: #fff;
  --black: #111;

  --gray-1: #f7f7f7;
  --gray-2: #eee;
  --gray-3: #ccc;
  --gray-4: #a3a3a3;
  --gray-5: #747474;

  --primary: #248cd7;
  --navy: #0b073a;

  --blue-1: #f2f5fa;
  --blue-2: #e9f4fb;
  --blue-4: #77bfed;
  --blue-5: #e3eff8;

  --muted: #94a3b8;

  --red: #eb5757;
  --red-02: #eb57572a;
  --red-03: #ffd8d8;

  --yellow: #f59e0b;
  --yellow-02: #f59e0b2a;
  --yellow-03: #f59e0b3a;
  --yellow-04: #ffe3b4;

  --green: #22c55e;
  --green-02: #22c55e2a;
  --green-03: #a7eabf;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.wrap {
  flex: 1;
  gap: 1rem;
  width: 100vw;
  height: calc(100% - 75px - 45px);
  background-color: var(--blue-1);
}

.flex {
  display: flex;
}

#container {
  flex: 1;
  gap: 1rem;
  padding: 2rem;
}
#compLeftList {
  width: 25rem;
  height: 100%;
  background-color: var(--white);
}
#container .contants {
  flex: 1;
}

table:not(aside .calendar_box .calendar table) {
  width: 100%;
  border-top: 0.3rem solid var(--navy);
  background-color: var(--white);
}
table:not(aside .calendar_box .calendar table) thead,
table.vertical tbody tr th {
  padding: 0 1rem;
  text-align: right;
  background-color: var(--gray-1);
}
table:not(aside .calendar_box .calendar table) tbody tr {
  border-top: 1px solid var(--gray-2);
}
table:not(aside .calendar_box .calendar table, .vertical)
  tbody
  tr:not(.tr_insert):hover {
  background-color: var(--blue-2);
}
table:not(aside .calendar_box .calendar table, .vertical)
  tbody
  tr.active:not(.tr_insert) {
  color: var(--white);
  background-color: var(--blue-4);
}
table:not(aside .calendar_box .calendar table) thead tr th,
table:not(aside .calendar_box .calendar table) tbody tr td {
  height: 4rem;
  padding: 1rem;
  text-align: center;
}
table tbody tr.tr_insert td {
  padding: 0.5rem !important;
}

table .tr_insert,
table .td_insert {
  background-color: var(--yellow-03) !important;
}

.select_box,
input:not(.inp_box input),
textarea,
textarea:hover,
textarea:focus,
textarea:active,
table tbody tr td .inp_box,
table tbody tr td input:active,
table tbody tr td select,
table tbody tr td select:hover,
table tbody tr td select:focus,
table tbody tr td select:active,
table tbody tr td button:not(.inp_box + button),
table tbody tr td button:not(.inp_box + button):hover,
table tbody tr td button:not(.inp_box + button):focus,
table tbody tr td button:not(.inp_box + button):active,
[class^='popup_'] .pop_cont .inp_box,
[class^='popup_'] .pop_cont select,
[class^='popup_'] .pop_cont select:hover,
[class^='popup_'] .pop_cont select:focus,
[class^='popup_'] .pop_cont select:active,
[class^='popup_'] .pop_cont button,
[class^='popup_'] .pop_cont button:hover,
[class^='popup_'] .pop_cont button:focus,
[class^='popup_'] .pop_cont button:active,
[class*=' popup_'] .pop_cont .inp_box,
[class*=' popup_'] .pop_cont select,
[class*=' popup_'] .pop_cont select:hover,
[class*=' popup_'] .pop_cont select:focus,
[class*=' popup_'] .pop_cont select:active,
[class*=' popup_'] .pop_cont button,
[class*=' popup_'] .pop_cont button:hover,
[class*=' popup_'] .pop_cont button:focus,
[class*=' popup_'] .pop_cont button:active {
  width: 100%;
  height: 100%;
}
.select_box,
input:not(.inp_box input),
textarea,
textarea:hover,
textarea:focus,
textarea:active,
table tbody tr.tr_insert td .inp_box,
table tbody tr.tr_insert td button,
table tbody tr.tr_insert td button:hover,
table tbody tr.tr_insert td button:focus,
table tbody tr.tr_insert td button:active,
[class^='popup_'] .pop_cont .inp_box,
[class^='popup_'] .pop_cont button,
[class^='popup_'] .pop_cont button:hover,
[class^='popup_'] .pop_cont button:focus,
[class^='popup_'] .pop_cont button:active,
[class*=' popup_'] .pop_cont .inp_box,
[class*=' popup_'] .pop_cont button,
[class*=' popup_'] .pop_cont button:hover,
[class*=' popup_'] .pop_cont button:focus,
[class*=' popup_'] .pop_cont button:active {
  border: 0.1rem solid var(--gray-3);
}
table tbody tr.tr_insert td .select_box,
table tbody tr.tr_insert td .inp_box {
  width: 100%;
  height: 100%;
}
.select_box,
input:not(.inp_box input),
textarea {
  padding: 1rem;
}

.select_box {
  padding-right: 1rem;
}
.select_box select {
  width: 100%;
  text-align: center;
}

.inp_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.inp_box input {
  width: 100%;
  height: 100%;
}
.inp_box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem !important;
  aspect-ratio: 1 / 1;
  padding: 0 !important;
  border: 0 !important;
}
.inp_box button img {
  height: 100%;
}

textarea {
  min-height: 8rem;
  resize: both;
}

/* 버튼 공통 */
.btn_box {
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  margin: 1rem 0;
}
.btn_box button {
  width: 9rem;
  height: 100%;
}

/* 선택 */
.btn_save {
  background: var(--navy);
  border: 0.1rem solid var(--navy);
  color: var(--white);
}

.btn_save:hover {
  background: var(--blue-2);
  color: var(--navy);
}

/* 선택 */
.btn_select {
  background: var(--primary);
  border: 0.1rem solid var(--primary);
  color: var(--white);
}

.btn_select:hover {
  background: var(--blue-2);
  color: var(--primary);
}

/* 확인 */
.btn_confirm {
  background: var(--gray-5);
  border: 0.1rem solid var(--gray-5);
  color: var(--white);
}

.btn_confirm:hover {
  background: var(--gray-1);
  color: var(--gray-5);
}

/* 승인 */
.btn_approve {
  background: var(--green);
  border: 0.1rem solid var(--green);
  color: var(--white);
}

.btn_approve:hover {
  background: var(--green-02);
  color: var(--green);
}

/* 반려 */
.btn_reject {
  background: var(--red);
  border: 0.1rem solid var(--red);
  color: var(--white);
}

.btn_reject:hover {
  background: var(--red-02);
  color: var(--red);
}

/* 보류 */
.btn_hold {
  background: var(--yellow);
  border: 0.1rem solid var(--yellow);
  color: var(--white);
}

.btn_hold:hover {
  background: var(--yellow-02);
  color: var(--yellow);
}

[class^='popup_'],
[class*=' popup_'] {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
[class^='popup_'] .inner_box,
[class*=' popup_'] .inner_box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  min-width: 50rem;
  max-width: 30vw;
  min-height: 50rem;
  max-height: 80vh;
  width: 100%;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}
[class^='popup_'] .pop_top_title,
[class*=' popup_'] .pop_top_title {
  justify-content: space-between;
}
[class^='popup_'] .pop_top_title h6,
[class*=' popup_'] .pop_top_title h6 {
  font-size: 2rem;
}
[class^='popup_'] .pop_cont,
[class*=' popup_'] .pop_cont {
  flex: 1;
  margin: 2rem 0 1rem;
  overflow-y: auto;
}
[class^='popup_'] .pop_bottom_btn,
[class*=' popup_'] .pop_bottom_btn {
  justify-content: center;
  gap: 1rem;
}
[class^='popup_'] .pop_bottom_btn button,
[class*=' popup_'] .pop_bottom_btn button {
  flex: 1;
  height: 3.6rem;
}

.closed {
  display: none;
}

/* 업체명 팝업 클릭 버튼 + 인풋 */
.search_biz_nm_box,
.search_biz_nm_box * {
  cursor: pointer;
}
.search_biz_nm_box {
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray-3);
  padding: 0 1rem;
}
.search_biz_nm_box .inp_box,
.search_biz_nm_box button {
  border: 0 !important;
}
.search_biz_nm_box button {
  width: fit-content;
}

/* 스크롤 박스 */
.scroll_box {
  overflow-y: auto;
}
