@import './common.css';
@import './lib-calendar-style.css';

/* 헤더 푸터 ------------------------------------------------------- */
header,
footer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 7.5rem;
  padding: 1rem 3rem;
  color: var(--white);
  background-color: var(--navy);
}
/* 헤더 */
header {
  justify-content: space-between;
}
header .user_box {
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
/* 푸터 */
footer {
  justify-content: flex-end;
  height: 4.5rem;
}
/* ------------------------------------------------------- */

/* 사이드바 ------------------------------------------------------- */
aside {
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  width: 25rem;
  height: 100%;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0.6rem 0 1.5rem rgba(0, 0, 0, 0.1);
}
/* 캘린더 */
aside .calendar_box {
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  height: 31rem;
}
aside .calendar_box .calendar {
  flex: 1;
  padding: 1.6rem;
  background-color: var(--blue-2);
}

aside .calendar_box .btn_add_calendar {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 3.6rem;
  color: var(--white);
  background-color: var(--primary);
}
/* 네비 */
aside nav {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
aside nav li,
aside nav li a {
  display: inline-block;
  width: 100%;
}
aside nav li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
aside nav li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  color: var(--muted);
}
aside nav li.active a {
  font-weight: 900;
  border-left: 0.4rem solid var(--primary);
  color: var(--navy);
  background-color: var(--blue-1);
}
aside nav li a span {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--red);
}
/* ------------------------------------------------------- */

/* 좌측 리스트 ------------------------------------------------------- */
#compLeftList .list_table tbody tr {
  cursor: pointer;
}
#compLeftList .list_table tbody tr td {
  height: 3rem;
}
#compLeftList .list_table tbody tr:not(.tr_insert) td:has(.chip),
#compLeftList .list_table tbody tr:not(.tr_insert) td:has(button) {
  padding: 1rem;
}
#compLeftList .list_table tbody tr td .chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}
#compLeftList .list_table tbody tr td .chip.day_off {
  color: var(--red);
  background-color: var(--red-02);
}
#compLeftList .list_table tbody tr td .chip.half_day_off {
  color: var(--yellow);
  background-color: var(--yellow-02);
}
#compLeftList .list_table tbody tr td .chip.out_of_office {
  color: var(--green);
  background-color: var(--green-02);
}
#compLeftList .list_table tbody tr.active td .chip.day_off,
#compLeftList .list_table tbody tr.active td .chip.half_day_off,
#compLeftList .list_table tbody tr.active td .chip.out_of_office {
  background-color: var(--white);
}
/* ------------------------------------------------------- */

/* 탭 ------------------------------------------------------- */
.tab_list {
  border-bottom: 0.3rem solid var(--navy);
}
.tab_list li {
  width: calc(100% / 12);
}
.tab_list li button {
  width: 100%;
  height: 5.5rem;
  padding: 0 1rem;
  color: var(--muted);
  background-color: var(--white);
}
.tab_list li.active button {
  color: var(--white);
  background-color: var(--navy);
}

/* 탭 내용 */
.tab_content_wrap .tab_content {
  display: none;
}
.tab_content_wrap {
  width: 100%;
  height: calc(100% - 5.8rem);
}
.tab_content table .tr_insert {
  background-color: var(--yellow-03);
}
.tab_content[data-tab-content='01'],
.tab_content[data-tab-content='02'],
.tab_content[data-tab-content='03'],
.tab_content[data-tab-content='04'],
.tab_content[data-tab-content='05'],
.tab_content[data-tab-content='06'],
.tab_content[data-tab-content='07'],
.tab_content[data-tab-content='08'],
.tab_content[data-tab-content='09'],
.tab_content[data-tab-content='10'],
.tab_content[data-tab-content='11'],
.tab_content[data-tab-content='12'] {
  width: 100%;
  height: 100%;
  padding: 1rem 0 0;
}
.tab_content_wrap .tab_box {
  height: calc(100% - 5rem);
}
/* ------------------------------------------------------- */

/* 업체 팝업 리스트 ------------------------------------------------------- */
.popup_search_biz .pop_cont .inp_box {
  height: 4rem;
}
.popup_search_biz .pop_cont .scroll_box {
  height: 50rem;
}
.popup_search_biz .pop_cont .table_biz {
  margin-top: 1rem;
}
.popup_search_biz .pop_cont .table_biz tbody tr td {
  cursor: pointer;
}
.popup_search_biz .pop_cont .table_biz tbody tr.active {
  color: var(--white);
  background-color: var(--blue-4);
}
/* ------------------------------------------------------- */
