/* 등록폼 ------------------------------------------------------- */
#compRequestDayOff {
  height: 100%;
}
#compRequestDayOff .btn_box {
  margin-top: 0;
}
.add_day_off_wrap {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: var(--white);
}
.add_day_off_wrap .title {
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.add_day_off_wrap .title h6 {
  font-size: 2rem;
}
.add_day_off_wrap .add_day_off {
  width: calc(100% - 15rem);
}
.add_day_off_wrap .add_day_off .row {
  width: 100%;
  gap: 2rem;
}
.add_day_off_wrap .add_day_off .row .col {
  align-items: center;
  gap: 1rem;
}
.add_day_off_wrap .add_day_off .row .col:first-of-type {
  width: 20rem;
}
.add_day_off_wrap .add_day_off .row .col:first-of-type label {
  width: 6rem;
}
.add_day_off_wrap .add_day_off .row .col:first-of-type label + input {
  width: calc(100% - 7rem);
}
.add_day_off_wrap .add_day_off .row .col:last-of-type {
  width: 15rem;
}
.add_day_off_wrap .add_day_off .row:last-of-type {
  margin-top: 1rem;
}
.add_day_off_wrap .add_day_off .row:last-of-type .col,
.add_day_off_wrap .add_day_off .row .col label + * {
  flex: 1;
}

#compRequestDayOff .scroll_box {
  height: calc(100% - 22.4rem);
  background-color: var(--white);
}
/* ------------------------------------------------------- */
/* 탭 내용 ------------------------------------------------------- */
.tab_content[data-tab-content='01'],
.tab_content[data-tab-content='02'],
.tab_content[data-tab-content='03'],
.tab_content[data-tab-content='04'],
.tab_content[data-tab-content='05'],
.tab_content[data-tab-content='06'] {
  background-color: var(--white);
  padding: 0;
}

.tab_content[data-tab-content='01'] .list_table tbody tr,
.tab_content[data-tab-content='02'] .list_table tbody tr,
.tab_content[data-tab-content='03'] .list_table tbody tr,
.tab_content[data-tab-content='04'] .list_table tbody tr,
.tab_content[data-tab-content='05'] .list_table tbody tr,
.tab_content[data-tab-content='06'] .list_table tbody tr {
  cursor: pointer;
}
/* ------------------------------------------------------- */
