/* reset.css */

/* 모든 요소 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-radius: 0.3rem; */
}

*::placeholder {
  color: #94a3b8;
}

/* html, body 기본 설정 */
html,
body {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

/* body 기본 폰트 상속 */
body {
  font-size: 1.6rem;
  line-height: 1;
}

/* 리스트 스타일 제거 */
ul,
ol,
li {
  list-style: none;
  cursor: default;
}

/* 링크 기본 스타일 제거 */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* 버튼 기본 스타일 초기화 */
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
}

/* input, textarea, select 기본 폰트 상속 */
input,
textarea,
select {
  margin: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  box-sizing: border-box;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active,
input:hover,
input:focus,
input:active {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
}

/* 버튼처럼 클릭 가능한 요소 */
button,
select,
label,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='checkbox'],
input[type='radio'],
input[type='time'],
input[type='date'] {
  cursor: pointer;
}

/* 이미지 하단 여백 제거 */
img {
  display: block;
  max-width: 100%;
  cursor: default;
}

/* 테이블 기본 설정 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

/* fieldset 기본 테두리 제거 */
fieldset {
  border: 0;
  cursor: default;
}

/* textarea 크기 조절 기본값 */
textarea {
  resize: none;
}
