/* 공통 ------------------------------------------------------- */
#container {
  flex-direction: column;
  gap: 0.5rem;
}
#container .title_wrap {
  justify-content: space-between;
  align-items: center;
}
#container .title_wrap .title,
#container .title_wrap .btn_box {
  margin: 0;
}
/* ------------------------------------------------------- */

/* 탭 ------------------------------------------------------- */
#container .tab_content_wrap {
  overflow-y: auto;
}
#container .tab_content_wrap .cont_list {
  flex-direction: column;
  margin-bottom: 1.5rem;
}
#container .tab_content_wrap .cont_list li.cont_box {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
#container .tab_content_wrap .cont_list li.cont_box:not(:last-of-type) {
  border-bottom: 0;
}

/* 일정 클릭 */
#container .tab_content_wrap .cont_list li.cont_box.active {
  background-color: var(--primary);
}
#container .tab_content_wrap .cont_list li.cont_box.active * {
  color: var(--white) !important;
}
#container .tab_content_wrap .cont_list li.cont_box.active .chip {
  background-color: var(--white);
}
#container .tab_content_wrap .cont_list li.cont_box.active .chip.visit {
  color: var(--primary) !important;
}
#container .tab_content_wrap .cont_list li.cont_box.active .chip.consulting {
  color: var(--green-05) !important;
}
#container
  .tab_content_wrap
  .cont_list
  li.cont_box.active
  div
  .time_bar::before {
  background-color: var(--white);
}
#container
  .tab_content_wrap
  .cont_list
  li.cont_box.active
  div
  .time_bar
  + p
  span
  img:first-of-type {
  display: none;
}
#container
  .tab_content_wrap
  .cont_list
  li.cont_box.active
  div
  .time_bar
  + p
  span
  img:last-of-type {
  display: inline-block;
}
/* ------------------------------------------------------- */

/* 등록, 수정 ------------------------------------------------------- */
#container.request form .row:not(:last-of-type),
#container.modify form .row:not(:last-of-type) {
  margin-bottom: 1rem;
}
#container.request form .row.flex,
#container.modify form .row.flex {
  gap: 0.5rem;
}
#container.request form .row.flex .col,
#container.modify form .row.flex .col {
  flex: 1;
}
#container.request form .row .col label,
#container.modify form .row .col label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
#container.request form .row .inp_box,
#container.modify form .row .inp_box,
#container.request form .row .select_box,
#container.modify form .row .select_box {
  height: 2.4rem;
}
/* ------------------------------------------------------- */
