@import './common.css';

/* 스플래시 ------------------------------------------------------- */
#compSplash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--blue-7) 0%, var(--blue-8) 100%);
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

#compSplash.is-hidden {
  opacity: 0;
  visibility: hidden;
}

#compSplash .splash {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#compSplash .splash span {
  width: 15rem;
  aspect-ratio: 1 / 1;
}
/* ------------------------------------------------------- */

/* 헤더 ------------------------------------------------------- */
#compHeader header {
  position: relative;
  justify-content: space-between;
  height: 4.5rem;
  padding: 1.3rem 2rem;
  font-family: 'Gmarket';
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
}
#compHeader header h1 {
  align-items: center;
  gap: 1rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 800;
}
#compHeader header h1 p {
  margin-top: 0.4rem;
}
/* ------------------------------------------------------- */

/* 네비게이션 ------------------------------------------------------- */
#compNav nav {
  box-shadow: 0 -4px 14px 0 rgba(0, 0, 0, 0.15);
}
#compNav nav ul {
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
}
#compNav nav ul li {
  width: calc(100% / 6);
}
#compNav nav ul li a {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  color: var(--muted-02);
}
#compNav nav ul li.active a {
  font-weight: 800;
  color: var(--navy);
  background-color: var(--blue-1);
}
#compNav nav ul li a span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
#compNav nav ul li a span img {
  width: auto;
  height: auto;
}
/* ------------------------------------------------------- */

/* 탭 ------------------------------------------------------- */
.tab_list {
  gap: 0.5rem;
}
.tab_list li {
  flex: 1;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
}
.tab_list li button {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--muted-02);
}
.tab_list li button span {
  font-weight: 700;
}
.tab_list li.active {
  background-color: var(--primary);
}
.tab_list li.active button {
  color: var(--white);
}

/* 탭 내용 */
.tab_content_wrap .tab_content {
  display: none;
}
.tab_content_wrap {
  width: 100%;
  height: calc(100% - 5.8rem);
}
.tab_content[data-tab-content='01'],
.tab_content[data-tab-content='02'],
.tab_content[data-tab-content='03'],
.tab_content[data-tab-content='04'],
.tab_content[data-tab-content='05'],
.tab_content[data-tab-content='06'],
.tab_content[data-tab-content='07'],
.tab_content[data-tab-content='08'],
.tab_content[data-tab-content='09'],
.tab_content[data-tab-content='10'],
.tab_content[data-tab-content='11'],
.tab_content[data-tab-content='12'] {
  width: 100%;
  height: 100%;
  padding: 1rem 0 0;
}
.tab_content_wrap .tab_box {
  height: calc(100% - 5rem);
}
/* ------------------------------------------------------- */

/* 업체 팝업 리스트 ------------------------------------------------------- */
.popup_search_biz .pop_cont .inp_box {
  height: 2.5rem;
  border: 0.1rem solid var(--gray-3);
}
.popup_search_biz .pop_cont .scroll_box {
  height: 100%;
}
.popup_search_biz .pop_cont .table_biz {
  min-width: 30rem;
  overflow-x: auto;
  margin-top: 1rem;
}
.popup_search_biz .pop_cont .table_biz tbody tr td {
  cursor: pointer;
}
.popup_search_biz .pop_cont .table_biz tbody tr.active {
  color: var(--white);
  background-color: var(--blue-4);
}
/* ------------------------------------------------------- */

/* MY 일정 ------------------------------------------------------- */
.title {
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.title span {
  display: inline-block;
  width: 1.6rem;
  margin-bottom: 0.4rem;
}
.cont_box {
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--gray-2);
  background-color: var(--white);
}
.plan li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 3px solid var(--primary);
}
.plan li p span {
  display: inline-block;
  margin: 0 0.5rem;
}
/* ------------------------------------------------------- */

/* 아코디언 공통 (전체 일정, 공개 톡방) ------------------------------------------------------- */
.accordion {
  border-top: 0;
  border-bottom: 0;
}
.accordion,
.accordion dd .cont_box {
  padding: 0;
  background-color: transparent;
}
.accordion dt,
.accordion dd {
  padding: 1rem;
}
.accordion dt {
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-top: 0.1rem solid var(--gray-2);
  border-bottom: 0.1rem solid var(--gray-2);
  background-color: var(--white);
  cursor: pointer;
}
.accordion dt .ico_plus {
  display: none;
}
.accordion dt.active .ico_arrow {
  transform: rotate(180deg);
}
.accordion dt.active .ico_minus {
  display: none;
}
.accordion dt.active .ico_plus {
  display: inline-block;
}
.accordion dd {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--blue-9);
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
}
.accordion dd.active {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* ------------------------------------------------------- */

/* 공개 톡방 ------------------------------------------------------- */
#compOpenTalk ul.cont_box li {
  border-left: 0;
}

#compOpenTalk ul.cont_box li span {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--muted-02);
}

#compOpenTalk ul.cont_box li .inp_box {
  width: 100%;
  padding: 0;
}
#compOpenTalk ul.cont_box li .inp_box input {
  padding: 0.3rem 0.5rem;
  border: 0.1rem solid var(--gray-3);
}
#compOpenTalk ul.cont_box li .inp_box button {
  height: 2rem;
}
/* ------------------------------------------------------- */

/* 연월차 ------------------------------------------------------- */
#compDayOff .day_off {
  gap: 2rem;
}
#compDayOff .day_off li .user_info {
  align-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
#compDayOff .day_off li .user_info p {
  font-size: 1.4rem;
}
#compDayOff .day_off li .user_info span:not(.chip) {
  color: var(--gray-4);
}
#compDayOff .day_off li .detail {
  flex-direction: column;
  gap: 0.5rem;
}
/* ------------------------------------------------------- */
